<li>
  <time datetime="{{date updated_at format="MMMM DD, YYYY"}}">
    {{date updated_at format="MMMM DD, YYYY"}}
  </time>
  <p class="title">
    {{title}}
  </p>
  <p class="gh-post-authors">
    Written by
    {{#foreach authors}}
      <a href="{{url}}">
        {{name}}
      </a>
    {{/foreach}}
  </p>
  <br />
  <p>
    {{excerpt characters="85"}}
    ...
    <a href="{{url}}">
      more
    </a>
  </p>
</li>