<div>
  <h2>
    Our Sponsors
  </h2>
  <div class="row">
    <div class="col-lg-2 col-md-1 col-sm-4 col-xs-4">
      <div class="thumb-pad1">
        <div class="thumbnail">
          <a href="http://www.surreycricketfoundation.org/">
            <img
              src="{{asset "img/scf.png"}}"
              alt="Surrey Cricket Foundation"
              style="filter: grayscale(100%);"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-1 col-sm-4 col-xs-4">
      <div class="thumb-pad1">
        <div class="thumbnail">
          <a href="https://ukhomes4u.com/">
            <img src="{{asset "img/ukhomes4ulogo.png"}}" alt="UK Homes 4 U" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-1 col-sm-4 col-xs-4">
      <div class="thumb-pad1">
        <div class="thumbnail">
          <a href="https://www.sutton.gov.uk/home">
            <img
              src="{{asset "img/sutton_council.png"}}"
              alt="Sutton Council"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-1 col-sm-4 col-xs-4">
      <div class="thumb-pad1">
        <div class="thumbnail">
          <a href="https://www.bhf.org.uk/">
            <img src="{{asset "img/bhf.png"}}" alt="British Heart Foundation" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-1 col-sm-4 col-xs-4">
      <div class="thumb-pad1">
        <div class="thumbnail">
          <a href="https://www.cheamsports.co.uk">
            <img src="{{asset "img/cheam_sports.png"}}" alt="Cheam Sports" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>