<figure>
  <img src="{{feature_image}}" />
</figure>
<div class="caption">
  <a href="{{url}}">
    {{title}}
  </a>
  <p class="gh-post-authors">
    Written by
    {{#foreach authors}}
      <a href="{{url}}">
        {{name}}
      </a>
    {{/foreach}}
  </p>
  <br />
  <p>
    {{excerpt characters="120"}}
  </p>
</div>