<!DOCTYPE html>
<html lang="{{@site.locale}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/bootstrap-theme.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/camera.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/font-awesome.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}

    <!--JS-->
    <script src="{{asset "built/jquery-3.4.1.min.js"}}"></script>
    <script src="{{asset "built/jquery-migrate-1.2.1.min.js"}}"></script>
    <script src="{{asset "built/superfish.js"}}"></script>
    <script src="{{asset "built/jquery.easing.1.3.js"}}"></script>
    <script src="{{asset "built/jquery.mobilemenu.js"}}"></script>
    <script src="{{asset "built/jquery.ui.totop.js"}}"></script>
    <script src="{{asset "built/jquery.equalheights.js"}}"></script>
    <script src="{{asset "built/camera.js"}}"></script>
    <script src="{{asset "built/bootstrap.min.js"}}"></script>
    <script src="{{asset "built/tm-scripts.js"}}"></script>
    <script>
      $(document).ready(function () {
        jQuery(".camera_wrap").camera();
      });
    </script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="{{asset "built/jquery.mobile.customized.min.js"}}"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
      <div style="text-align: center; position: absolute; width: 100%; z-index: 999;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"
          ><img
            src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg"
            border="0"
            height="42"
            width="820"
            alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."
        /></a>
      </div>
    <![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--header-->
    <header>
      <div class="container">
        <h1 class="navbar-brand navbar-brand_">
            <a href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
        </h1>
        <ul class="follow_icon">
            {{#if @site.facebook}}
                <a class="fa fa-facebook"
                    href="{{facebook_url @site.facebook}}" target="_blank"
                    rel="noopener noreferrer" aria-label="Facebook">
                </a>
            {{/if}}

            {{#if @site.twitter}}
                <a class="fa fa-twitter"
                    href="{{twitter_url @site.twitter}}" target="_blank"
                    rel="noopener noreferrer" aria-label="Twitter">
                </a>
            {{/if}}

            <a class="fa fa-instagram"
                href="https://www.instagram.com/suttonchallengers/" target="_blank"
                rel="noopener noreferrer" aria-label="Instagram">
            </a>
        </ul>
        {{!-- <div class="clearfix"></div>
        <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
          <ul class="nav sf-menu clearfix">
            <!-- <li class="active sub-menu">
              <a href="index.html">home<em></em></a><i></i><span></span>
              <ul class="submenu">
                <li>
                  <a href="#">what we do</a><span></span>
                  <ul class="submenu">
                    <li><a href="#">what we do</a></li>
                    <li><a href="#">fresh links</a></li>
                    <li><a href="#">events</a></li>
                    <li><a href="#">archives</a></li>
                    <li><a href="#">forum</a></li>
                  </ul>
                </li>
                <li><a href="#">fresh links</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#">archives</a></li>
                <li><a href="#">forum</a></li>
              </ul>
            </li> -->
            <li>
                <a href="index.html">Home<em></em></a><i></i>
              </li>
            <li>
              <a href="index-1.html">about<em></em></a><i></i>
            </li>
            <li>
              <a href="index-2.html">Fixtures<em></em></a><i></i>
            </li>
            <li>
                <a href="index-2.html">Stats<em></em></a><i></i>
              </li>
            <li>
              <a href="index-3.html">news & events<em></em></a><i></i>
            </li>
            <li>
              <a href="index-4.html">CONTACTS<em></em></a><i></i>
            </li>
          </ul>
        </nav>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="slider">
              <div class="camera_wrap">
                <div data-src="img/picture1.jpg">
                  <div class="camera-caption fadeIn">
                    <p class="title">Aenean imperdiet. Etiam ultricies nisi velomore augue</p>
                    <p class="description">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</p>
                  </div>
                </div>
                <div data-src="img/picture2.jpg">
                  <div class="camera-caption fadeIn">
                    <p class="title">Aenean imperdiet. Etiam ultricies nisi velomore augue</p>
                    <p class="description">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</p>
                  </div>
                </div>
                <div data-src="img/picture3.jpg">
                  <div class="camera-caption fadeIn">
                    <p class="title">Aenean imperdiet. Etiam ultricies nisi velomore augue</p>
                    <p class="description">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</p>
                  </div>
                </div>
                <div data-src="img/picture4.jpg">
                  <div class="camera-caption fadeIn">
                    <p class="title">Aenean imperdiet. Etiam ultricies nisi velomore augue</p>
                    <p class="description">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 link-box">
            <div class="row">
              <div class="col-lg-12 col-md-6 col-sm-6">
                <div class="box box1">
                  <p class="title">club schedule</p>
                  <p class="description">Donec pede justo frin <br />la velaliquetne vulputa <br />egetenim justo.</p>
                  <a href="#"></a>
                </div>
              </div>
              <div class="col-lg-12 col-md-6 col-sm-6">
                <div class="box box2">
                  <p class="title">weekly results</p>
                  <p class="description">Donec pede justo frin <br />la velaliquetne vulputa <br />egetenim justo.</p>
                  <a href="#"></a>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-6">
                  <div class="box box2">
                    <p class="title">Join Now!</p>
                    <p class="description">Donec pede justo frin <br />la velaliquetne vulputa <br />egetenim justo.</p>
                    <a href="#"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> --}}
    </header>
    {{!-- <div class="global">
      <!--content-->
      <div class="container">
        <div class="row">
          <div class="news-box">
            <div class="col-lg-12">
              <h4>Club news</h4>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <div class="thumb-pad1">
                    <div class="thumbnail">
                      <figure>
                        <a href="#">0 <span class="fa fa-thumbs-o-up"></span></a><img src="img/page1_pic1.jpg" alt="" />
                      </figure>
                      <div class="caption">
                        <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
                        <a href="#">August 18, 2014 - 2 comments</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <div class="thumb-pad1">
                    <div class="thumbnail">
                      <figure>
                        <a href="#">0 <span class="fa fa-thumbs-o-up"></span></a><img src="img/page1_pic2.jpg" alt="" />
                      </figure>
                      <div class="caption">
                        <p class="title">Aenean commodo ligula eget dolor sociis natoque...</p>
                        <a href="#">August 18, 2014 - 2 comments</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <div class="thumb-pad1">
                    <div class="thumbnail">
                      <figure>
                        <a href="#">0 <span class="fa fa-thumbs-o-up"></span></a><img src="img/page1_pic3.jpg" alt="" />
                      </figure>
                      <div class="caption">
                        <p class="title">Cum sociis natoque penatibus et magnis dis parturient...</p>
                        <a href="#">August 18, 2014 - 2 comments</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <div class="thumb-pad1">
                    <div class="thumbnail">
                      <figure>
                        <a href="#">0 <span class="fa fa-thumbs-o-up"></span></a><img src="img/page1_pic4.jpg" alt="" />
                      </figure>
                      <div class="caption">
                        <p class="title">Donec quam felis, ultricies nec pellentesque eu, pretium...</p>
                        <a href="#">August 18, 2014 - 2 comments</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- <div class="pic-box">
            <div class="col-lg-12">
              <figure>
                <div>
                  <p class="title">Thursday night</p>
                  <p class="description">24th august in ullamcorper</p>
                  <p>
                    Maecenas tempus, tellus eget condim <br />entum rhoncus, sem quam semper libero <br />bibendum
                    sodales, augue velit
                  </p>
                  <a href="#"></a>
                </div>
              </figure>
            </div>
          </div> -->
          <div class="clearfix topic-box">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <h4>Achievements</h4>
              <ul class="list2">
                <li>
                  <time datetime="2014-01-01">August 18, 2014</time>
                  <p class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                  <p>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...
                    <a href="#">more</a>
                  </p>
                </li>
                <li>
                  <time datetime="2014-01-01">August 18, 2014</time>
                  <p class="title">Donec sodales sagittis magna faucibus.</p>
                  <p>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...
                    <a href="#">more</a>
                  </p>
                </li>
                <li>
                  <time datetime="2014-01-01">August 18, 2014</time>
                  <p class="title">Maecenas tempus, tellus eget condimentum rhoncua.</p>
                  <p>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...
                    <a href="#">more</a>
                  </p>
                </li>
              </ul>
              <a href="#" class="btn-default btn1">view all <span class="fa fa-angle-right"></span></a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <h4>Recent successes</h4>
              <div class="thumb-pad2">
                <div class="thumbnail">
                  <figure><img src="img/page1_pic6.jpg" alt="" /></figure>
                  <div class="caption">
                    <a href="#">Lorem ipsum dolor sagittis sit amet, consectetuer adipiscing elit</a>
                    <p>
                      Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                      enim. Donec pede justo, fringilla vel, aliquet nec, vulputate.
                    </p>
                  </div>
                </div>
              </div>
              <div class="thumb-pad2 indent">
                <div class="thumbnail">
                  <figure><img src="img/page1_pic7.jpg" alt="" /></figure>
                  <div class="caption">
                    <a href="#">Lorem ipsum dolor sagittis sit amet, consectetuer adipiscing elit</a>
                    <p>
                      Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                      enim. Donec pede justo, fringilla vel, aliquet nec, vulputate.
                    </p>
                  </div>
                </div>
              </div>
              <a href="#" class="btn-default btn1">view all <span class="fa fa-angle-right"></span></a>
            </div>
          </div>
          <div class="col-lg-12 border-box">
            <div>
              <h2>Our Sponsors</h2>
              <div class="row">
                <div class="col-lg-2 col-md-1 col-sm-4 col-xs-4">
                  <div class="thumb-pad1">
                    <div class="thumbnail">
                      <a href="http://www.surreycricketfoundation.org/"><img src="img/scf.png" alt="Surrey Cricket Foundation" /></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-4 col-xs-4">
                  <div class="thumb-pad1">
                    <div class="thumbnail">
                      <a href="https://ukhomes4u.com/"><img src="img/ukhomes4ulogo.png" alt="UK Homes 4 U" /></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-4 col-xs-4">
                  <div class="thumb-pad1">
                    <div class="thumbnail">
                      <a href="https://www.sutton.gov.uk/home"><img src="img/sutton_council.png" alt="Sutton Council" /></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
                  <div class="thumb-pad1">
                    <div class="thumbnail">
                      <a href="https://www.bhf.org.uk/"><img src="img/bhf.png" alt="British Heart Foundation" /></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-4 col-xs-4">
                  <div class="thumb-pad1">
                    <div class="thumbnail">
                      <a href="https://www.cheamsports.co.uk"><img src="img/cheam_sports.png" alt="Cheam Sports" /></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 info-box1">
                  <p class="title">over 90</p>
                  <p class="description">grants up <br />for grabs</p>
                  <a href="#" class="btn-default btn1">apply now <span class="fa fa-angle-right"></span></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <h3>Welcome to our club!</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  </p>
                  <p>
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                    enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi.
                  </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <h3>The best players</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  </p>
                  <ul class="list1">
                    <li><a href="#">Mark Johnson -</a> Lorem ipsum dolor sit amet</li>
                    <li><a href="#">Tom James -</a> Pellentesque sed dolor</li>
                    <li><a href="#">Patrick Pool -</a> Donec eget tellus non erat</li>
                    <li><a href="#">John McCoist -</a> Donec in velit vel ipsum auctor pulvinar</li>
                    <li><a href="#">Bradley Grosh -</a> Quisque diam lorem</li>
                  </ul>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--footer-->
    <footer>
      <div class="container">
        <div class="col-lg-5 col-md-12 col-sm-12">
          <p class="title">cricket club</p>
          <p class="priv">Copyright &copy; <em id="copyright-year"></em> | <a href="index-5.html">Privacy policy</a></p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
          <h3>Useful info</h3>
          <ul class="list3">
            <li><a href="#">Contact Information</a></li>
            <li><a href="#">Commercial Partners</a></li>
            <li><a href="#">Publications</a></li>
            <li><a href="#">Cricket Museum</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
          <h3>Stats archive</h3>
          <ul class="list3">
            <li><a href="#">Seasons</a></li>
            <li><a href="#">Players</a></li>
            <li><a href="#">Grounds</a></li>
            <li><a href="#">Records</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
          <h3>Contact info</h3>
          <p>8901 Marmora Road, Glasgow, D04 89GR.<br />Telephone: &nbsp; +1 800 603 6035</p>
          <p>E-mail: <a href="#">mail@demolink.org</a></p>
        </div>
      </div>
      <!-- {%FOOTER_LINK} -->
    </footer> --}}
  </body>
</html>
